[Unit]
Description=WangYunChuan
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/wyc.conf
ExecStart=/usr/bin/wyc -token=%I
ExecStart=/usr/bin/wyc -token=${TOKEN}
PrivateTmp=true

[Install]
WantedBy=multi-user.target